@use "../../foundation/function" as *;
@use "../../foundation/mixin" as *;
@use "../../foundation/setting" as *;

.p-diagnosis {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    align-items: stretch;
    gap: 4rem;
  }

  &__image {
    width: 48%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    aspect-ratio: 16 / 9;
  }

  &__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__button {
    margin-top: auto;
  }
}
